:root {
  --background-color: #222831;
  --background-secondary: #2d4059;
  --foreground-color: #f9b248;
  --text-color: #ff5722;
  --text-secondary: #eeeeee;
}
* {
  scrollbar-width: thin;
  scrollbar-color: var(--foreground-color) var(--background-color);
}

*::-webkit-scrollbar {
  width: 5px;
}

*::-webkit-scrollbar-track {
  background: var(--background-color);
}

*::-webkit-scrollbar-thumb {
  border-radius: 20px;
  border: 3px solid var(--text-color);
}

body {
  margin: 0;
  padding: 0;
  position: relative;
  background-color: var(--background-color);
  font-family: 'Roboto', sans-serif;
}

#sl-header {
  display: flex;
  direction: row;
  justify-content: space-between;
  font-size: 20px;
  font-weight: 700;
}

#sl-logo {
  position: sticky;
  top: 0;
  left: 0;
  margin: 0;
  max-width: 200px;
  width: 40vw;
}
#sl-header-right-nav {
  margin: 10px 10px 0 0;
}
#sl-header-right-nav a {
  background-color: var(--foreground-color);
  border-radius: 5px;
  color: var(--background-color);
}
#sl-about {
  padding-left: 10px;
  background-color: var(--foreground-color);
  border-radius: 5px;
}

#sl-wrapper {
  display: flex;
  justify-content: center;
}
#sl-checklist-container,
#sl-checklist-picker {
  height: 60vh;
  margin-bottom: 10px;
  word-wrap: break-word;
  text-align: center;
}
#sl-checklist-list-container {
  height: 90%;
  overflow-y: scroll;
}
#sl-checklist-list-ul {
  padding: 0;
}

#sl-checklist-editor,
#sl-checklist-list {
  padding: 10px;
  flex-basis: 100%;

  max-width: 768px;
}
#sl-checklist-picker {
  text-align: center;
}
#sl-checklist-container,
#sl-checklist-list-container {
  overflow-y: scroll;
}
[contenteditable]:focus {
  outline: 0px solid transparent;
}
/* inline block label */
h3 {
  font-size: 1.5rem;
  font-weight: 700;
  color: var(--text-color);
  margin: 0;
}
label {
  display: block;
  width: fit-content;
  color: var(--text-secondary);
  padding-left: 10px;
  font-size: 1.1rem;
}
/* input type checkbox */
input[type='checkbox'] {
  /* size */
  width: 20px;
  height: 20px;
  color: var(--foreground-color);
  /* border */
  margin-right: 15px;
  margin-bottom: 10px;
}
input[type='checkbox']:checked {
  accent-color: var(--text-color);
  text-decoration: line-through;
}
#sl-checklist-actions {
  display: flex;
  justify-content: space-evenly;
}
button {
  background-color: var(--foreground-color);
  color: var(--background-color);
  border: none;
  border-radius: 5px;
  padding: 5px 8px;
  font-size: 1em;
  font-weight: 700;
  cursor: pointer;
  transition: all 0.3s ease;
}
button:hover {
  background-color: var(--text-color);
  color: var(--text-secondary);
  transition: all 0.5s ease;
}
button:disabled {
  background-color: var(--background-secondary);
  color: var(--text-secondary);
  cursor: not-allowed;
  opacity: 0.5;
}
#sl-newchecklist {
  text-align: center;
  background-color: var(--background-color);
}

#sl-checklist-header > h3 {
  padding: 10px 0;
}
#sl-back-arrow {
  font-size: 1rem;
  margin-right: 5px;
}
#sl-mychecklists {
  text-align: right;
  background-color: var(--background-color);
  margin-bottom: 20px;
}
/*style list items into buttons*/
ul {
  text-align: center;
}

li {
  list-style-type: none;
  margin: 5px auto;
  max-width: 400px;
  background-color: var(--background-secondary);
  color: var(--foreground-color);
  border: none;
  border-radius: 5px;
  padding: 10px;
  font-size: 1.2rem;
  font-weight: 900;
  cursor: pointer;
  transition: all 0.3s ease;
}
li:hover {
  background-color: var(--foreground-color);
  color: var(--background-color);
  transition: all 0.5s ease;
  font-size: 1.3rem;
}
#sl-empty-list {
  text-align: center;
  color: var(--foreground-color);
  font-size: 1.1rem;
  margin-top: 10%;
}
#sl-sad-emoji {
  font-size: 80px;
}
/* style the modal */
#sl-delete-modal,
#sl-share-modal {
  display: none;
  background-color: rgba(45, 64, 89, 0.7);

  position: fixed;
  z-index: 1;
  width: 100%;
  height: 100%;

  left: 0;
  top: 0;

  /* blur background */
}
#sl-delete-modal-content,
#sl-share-modal-content {
  background-color: var(--background-color);
  margin: 15% auto;
  padding: 20px;

  width: 80%;
  max-width: 500px;
}
#sl-delete-modal-actions,
#sl-share-modal-actions {
  display: flex;
  justify-content: space-evenly;
}

#sl-delete-modal-confirm {
  background-color: #fc2617;
  color: var(--text-secondary);
}
#sl-delete-modal-content > h3,
#sl-share-modal-content > h3 {
  color: var(--foreground-color);
  font-size: 1.2rem;
  font-weight: 600;
  margin: 10px;
  text-align: center;
  padding: 10px 0;
}
#sl-delete-modal-close-btn,
#sl-share-modal-close-btn {
  color: var(--foreground-color);
  float: right;
  font-size: 28px;
  font-weight: bold;
  cursor: pointer;
}
#sl-share-link-container {
  display: flex;
  justify-content: center;
  margin: 20px 0;
}
#sl-share-link {
  background-color: var(--background-secondary);
  color: var(--foreground-color);
  border: none;
  border-radius: 5px;
  padding: 10px;
  font-size: 1rem;
  font-weight: 700;
  cursor: pointer;
  transition: all 0.3s ease;
  width: 400px;
  /* align right */
}
#sl-copy-link-btn {
  border: none;

  font-size: 2rem;
  font-weight: 700;
  cursor: pointer;
  /* align right */
}
#sl-share-link-box {
  width: 100%;
  background-color: var(--background-secondary);
  font-size: 1rem;
  color: var(--foreground-color);
  font-weight: 700;
}
#sl-footer {
  text-align: center;
  color: var(--text-color);
  position: fixed;
  bottom: 5%;
  width: 100%;
}

a {
  text-decoration: none;
  color: var(--foreground-color);
}
/* loading icon */

#sl-loading-spinner::before {
  animation: 1.5s linear infinite spinner;
  animation-play-state: inherit;
  border: solid 5px #cfd0d1;
  border-bottom-color: var(--text-color);
  border-radius: 50%;
  content: '';
  height: 40px;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate3d(-50%, -50%, 0);
  width: 40px;
  will-change: transform;
}
@keyframes spinner {
  0% {
    transform: translate3d(-50%, -50%, 0) rotate(0deg);
  }
  100% {
    transform: translate3d(-50%, -50%, 0) rotate(360deg);
  }
}

/* about page */
.sl-about-header {
  text-align: center;
  color: var(--text-color);
}

.sl-about-section {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.sl-about-inner {
  max-width: 768px;
  border: 5px solid var(--foreground-color);
  border-radius: 10px;
  align-items: center;
}
.sl-about-inner > h2 {
  color: var(--foreground-color);
  padding-left: 10px;
}
.sl-about-inner > p {
  color: var(--text-secondary);
  padding: 10px;
}

.sl-about-footer {
  text-align: center;
  color: var(--text-color);
}

.sl-about-inner > h1 {
  color: var(--text-color);
  padding-left: 10px;
  text-align: center;
  font-size: 2rem;
}
